
body{
  margin-left: 50%;
  position: relative;
}

#head {
  position: absolute;
  z-index: 3;
  top: 20px;
}

#body{
  position: absolute;
  top: 100px;

}

#glasses{
  position: absolute;
  z-index: 3;
  top: 205px;
  left:50px;
}
